<div class="row" style="padding:100px 0px 0px 0px;">
	<div class="col-sm-2">
		<h4>&nbsp;</h4>
		<span ng-repeat = "itemCategory in items">
			<a href="#category{{itemCategory.categoryId}}" class="btn btn-default btn-md btn-block red-border">
			<h4 style="color:#800000">{{itemCategory.category}}</h4></a>
		</span>
	</div>
	<div class="col-sm-6">
		<div ng-repeat = "itemCategory in items">
			<div class="row" id="category{{itemCategory.categoryId}}">
				<div class="col-sm-12">
					<h4 style="color:#800000">{{itemCategory.category}}</h4>
				</div>
			</div>
			<div class="row">
				<div ng-repeat = "item in itemCategory.items">
					<div class="col-sm-4">
						<div class="thumbnail red-border">
							<img src="data:image/jpeg;base64,{{item.itemImage}}" alt="No Image" class="item-image">
							<div class="caption item-details">
								<span class="veg-image"></span>
								<h4 class="float-left" style="display: inline;">&nbsp;{{item.name}}</h4>
								<p class="small">{{item.description}}</p>
								<p>
									<span class="text-danger" >&nbsp;Rs {{item.price}}</span>
									<span ng-show="item.orderQantity > 0">
										<span class="btn-group  pull-right">
										  <button type="button" class="btn btn-success btn-xs" ng-click="$ctrl.removeItemToCart(item)">-</button>
										  <button type="button" class="btn btn-success btn-xs">{{item.orderQantity}}</button>
										  <button type="button" class="btn btn-success btn-xs" ng-click="$ctrl.addItemToCart(item)">+</button>
										</span>
									</span>
									<span ng-show="item.orderQantity == 0" class="pull-right">
										<button class="btn btn-success btn-xs" ng-click="$ctrl.addItemToCart(item)">ADD</button>
									</span>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-4">
		<div>
		<div class="row">
				<div class="col-sm-12">
					<span class="cart-image"></span>
					<h4 style="color:#800000">&nbsp;&nbsp;Cart <span class="small" ng-if = "cart.length > 0"> (Items: {{$ctrl.totalCartItems}})</span></h4>
				</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<hr>
				<span class="empty-cart" ng-if = "cart.length == 0"></span>
			</div>
		</div>
		<div class="row" style="padding: 3px" ng-repeat = "cartItem in cart">
			<div class="col-sm-6">
				<span class="veg-image"></span>
				<span class="float-left" style="display: inline;">&nbsp;{{cartItem.name}}</span>
			</div>
			<div class="col-sm-3 small">
				<span class="btn-group">
				  <button type="button" class="btn btn-default btn-xs" ng-click="$ctrl.decreaseQuantity(cartItem)">-</button>
				  <button type="button" class="btn btn-default btn-xs">{{cartItem.quantity}}</button>
				  <button type="button" class="btn btn-default btn-xs" ng-click="$ctrl.increaseQuantity(cartItem)">+</button>
				</span>
			</div>
			<div class="col-sm-3 small">
				<span class="pull-right">Rs {{cartItem.price * cartItem.quantity}}</span>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<hr>
			</div>
		</div>
		<div ng-if = "cart.length > 0">
		<div class="row">
			<div class="col-sm-8">
				<h4 style="color:#800000">Sub Total</h4>
			</div>
			<div class="col-sm-4">
				<span class="pull-right"><h5 style="color:#800000">Rs {{$ctrl.totalBill}}</h5></span>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<button class="btn btn-success btn-block">Checkout</button>
			</div>
		</div>
		</div>
	</div>
	</div>
</div>